<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_faviconnotificationbo</name>
    <displayName><![CDATA[Order Notifications on the Favicon]]></displayName>
    <version><![CDATA[2.1.1]]></version>
    <description><![CDATA[Get notified directly on your browser tab each time you get a new order, customer or message.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>