<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>blockreassurance</name>
    <displayName><![CDATA[Customer Reassurance]]></displayName>
    <version><![CDATA[5.1.1]]></version>
    <description><![CDATA[Connect with your visitors and reassure them about secure payment, free shipping or returns.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[seo]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>