<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_metrics</name>
    <displayName><![CDATA[PrestaShop Metrics]]></displayName>
    <version><![CDATA[3.5.4]]></version>
    <description><![CDATA[Optimize your business with a data-driven approach by gaining a complete view of your business in real time.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
